In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import funciones as fun

In [10]:
df = fun.cargar_dataset('Mexico.csv')
df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,499553,"Deluxe 4-BR penthouse, views, historic center",1297488,Petra,NaN,Cuauhtémoc,19.436210,-99.138740,Entire home/apt,4985.0,3,26,2024-10-28,0.17,2,117,1,NaN
1,501037,The best cheap flat in La Condesa!!,1364145,Humberto,NaN,Cuauhtémoc,19.415780,-99.174250,Entire home/apt,1150.0,5,134,2024-12-03,0.89,2,232,23,NaN
2,517503,Nice big room near airport,2547499,Irma Adriana,NaN,Venustiano Carranza,19.437840,-99.079030,Private room,550.0,1,281,2024-12-11,3.43,1,339,52,NaN
3,527473,"Nuestro bello departamento, un paraíso en la C...",158585,Fernando,NaN,Cuauhtémoc,19.418870,-99.173330,Entire home/apt,3654.0,1,354,2024-12-02,2.35,1,216,32,NaN
4,544105,Polanco great location! Priv Room in Shared Apart,2674950,Elizabeth,NaN,Miguel Hidalgo,19.442892,-99.201385,Private room,1007.0,2,67,2024-11-26,0.74,1,173,9,NaN

In [11]:
df1 = fun.reemplazar_nulos(df)
df1

/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(1000001, inplace=True)
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:40: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("Valor Nulo", inplace=True)
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(1111111, inplace=True)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,499553,"Deluxe 4-BR penthouse, views, historic center",1297488,Petra,1000001.0,Cuauhtémoc,19.436210,-99.138740,Entire home/apt,4985.0,3,26,2024-10-28,0.17,2,117,1,1111111.0
1,501037,The best cheap flat in La Condesa!!,1364145,Humberto,1000001.0,Cuauhtémoc,19.415780,-99.174250,Entire home/apt,1150.0,5,134,2024-12-03,0.89,2,232,23,1111111.0
2,517503,Nice big room near airport,2547499,Irma Adriana,1000001.0,Venustiano Carranza,19.437840,-99.079030,Private room,550.0,1,281,2024-12-11,3.43,1,339,52,1111111.0
3,527473,"Nuestro bello departamento, un paraíso en la C...",158585,Fernando,1000001.0,Cuauhtémoc,19.418870,-99.173330,Entire home/apt,3654.0,1,354,2024-12-02,2.35,1,216,32,1111111.0
4,544105,Polanco great location! Priv Room in Shared Apart,2674950,Elizabeth,1000001.0,Miguel Hidalgo,19.442892,-99.201385,Private room,1007.0,2,67,2024-11-26,0.74,1,173,9,1111111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26276,1318906185008171760,Suite Dumas Polanco 8D,369403303,Grissell,1000001.0,Miguel Hidalgo,19.436998,-99.196733,Private room,760.0,1,0,Valor Nulo,1111111.00,12,363,0,1111111.0
26277,1318960023050066631,Departamento amueblado en CDMX,525554527,Partner,1000001.0,Cuauhtémoc,19.449230,-99.136170,Entire home/apt,8897.0,1,0,Valor Nulo,1111111.00,1,365,0,1111111.0
26278,1318997244771691320,hospedaje en Coyoacán CDMX,293574406,Bellanira Isabel,1000001.0,Coyoacán,19.316820,-99.116781,Shared room,227.0,3,0,Valor Nulo,1111111.00,8,365,0,1111111.0
26279,1319078571963617776,3 recámaras 3 baños con estacionamiento,35255741,Juan,1000001.0,Miguel Hidalgo,19.400096,-99.172981,Entire home/apt,3125.0,1,0,Valor Nulo,1111111.00,31,359,0,1111111.0
26280,1319509843525848258,Loft ejecutivo junto a Reforma y a pasos del Á...,333035396,Clau,1000001.0,Cuauhtémoc,19.427799,-99.163842,Entire home/apt,918.0,1,0,Valor Nulo,1111111.00,183,325,0,1111111.0

In [12]:
cuenta_nulos = fun.cuenta_nulos(df1)
cuenta_nulos

('Valores nulos por columna',
 id                                0
 name                              0
 host_id                           0
 host_name                         0
 neighbourhood_group               0
 neighbourhood                     0
 latitude                          0
 longitude                         0
 room_type                         0
 price                             0
 minimum_nights                    0
 number_of_reviews                 0
 last_review                       0
 reviews_per_month                 0
 calculated_host_listings_count    0
 availability_365                  0
 number_of_reviews_ltm             0
 license                           0
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(0))

In [13]:
datos_limpios = fun.limpiar_atipicos(df1)
datos_limpios

/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_nuevo.loc[i, col] = "Valor Atípico"
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_nuevo.loc[i, col] = "Valor Atípico"
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_nuevo.loc[i, col] = "Valor Atípico"
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_nuevo.loc[i, col] = "Valor Atípico"
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_nuevo.loc[i, col] = "Valor Atípico"
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_nuevo.loc[i, col] = "Valor Atípico"
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_nuevo.loc[i, col] = "Valor Atípico"
/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/Examen_2/funciones.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_nuevo.loc[i, col] = "Valor Atípico"

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,499553,"Deluxe 4-BR penthouse, views, historic center",1297488,Petra,1000001.0,Cuauhtémoc,19.43621,-99.13874,Entire home/apt,4985.0,3,26,2024-10-28,0.17,2,117,1,1111111.0
1,501037,The best cheap flat in La Condesa!!,1364145,Humberto,1000001.0,Cuauhtémoc,19.41578,-99.17425,Entire home/apt,1150.0,Valor Atípico,134,2024-12-03,0.89,2,232,23,1111111.0
2,517503,Nice big room near airport,2547499,Irma Adriana,1000001.0,Venustiano Carranza,19.43784,Valor Atípico,Private room,550.0,1,Valor Atípico,2024-12-11,3.43,1,339,52,1111111.0
3,527473,"Nuestro bello departamento, un paraíso en la C...",158585,Fernando,1000001.0,Cuauhtémoc,19.41887,-99.17333,Entire home/apt,3654.0,1,Valor Atípico,2024-12-02,2.35,1,216,32,1111111.0
4,544105,Polanco great location! Priv Room in Shared Apart,2674950,Elizabeth,1000001.0,Miguel Hidalgo,19.442892,-99.201385,Private room,1007.0,2,67,2024-11-26,0.74,1,173,9,1111111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26276,1318906185008171760,Suite Dumas Polanco 8D,369403303,Grissell,1000001.0,Miguel Hidalgo,19.436998,-99.196733,Private room,760.0,1,0,Valor Nulo,Valor Atípico,12,363,0,1111111.0
26277,1318960023050066631,Departamento amueblado en CDMX,525554527,Partner,1000001.0,Cuauhtémoc,19.44923,-99.13617,Entire home/apt,Valor Atípico,1,0,Valor Nulo,Valor Atípico,1,365,0,1111111.0
26278,1318997244771691320,hospedaje en Coyoacán CDMX,293574406,Bellanira Isabel,1000001.0,Coyoacán,Valor Atípico,Valor Atípico,Shared room,227.0,3,0,Valor Nulo,Valor Atípico,8,365,0,1111111.0
26279,1319078571963617776,3 recámaras 3 baños con estacionamiento,35255741,Juan,1000001.0,Miguel Hidalgo,19.400096,-99.172981,Entire home/apt,3125.0,1,0,Valor Nulo,Valor Atípico,Valor Atípico,359,0,1111111.0
26280,1319509843525848258,Loft ejecutivo junto a Reforma y a pasos del Á...,333035396,Clau,1000001.0,Cuauhtémoc,19.427799,-99.163842,Entire home/apt,918.0,1,0,Valor Nulo,Valor Atípico,Valor Atípico,325,0,1111111.0

In [14]:
cuenta_nulos2 = fun.cuenta_nulos(datos_limpios)
cuenta_nulos2

('Valores nulos por columna',
 id                                0
 name                              0
 host_id                           0
 host_name                         0
 neighbourhood_group               0
 neighbourhood                     0
 latitude                          0
 longitude                         0
 room_type                         0
 price                             0
 minimum_nights                    0
 number_of_reviews                 0
 last_review                       0
 reviews_per_month                 0
 calculated_host_listings_count    0
 availability_365                  0
 number_of_reviews_ltm             0
 license                           0
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(0))

In [15]:
datos_limpios.to_csv("Datos_limpios_Examen.csv")